.statistics {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 26px;
}

.statList {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 60px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.label {
    padding-right: 5px;
}